html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;

  overflow-y: scroll;
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 9rem;
  letter-spacing: 5px;
}

h2 {
  font-size: 8rem;
  color: darkgoldenrod;
  letter-spacing: 10px;

}

P {
  font-size: 1.6rem;
  line-height: 30px;



}

.navbar {
  position: sticky;
  top: 1px;
  display: flex;
  z-index: 1;
  background: #15000080;
  width: 100vw;
}

.navbar img {
  margin-left: 30px;
  width: 100px;
  margin-top: 10px;
}


.address {
  margin-right: 10px;
}




.topnav {
  width: 70vw;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;

}

.topnav a:nth-child(2) {
  padding-top: 50px;
}

.topnav a:nth-child(3) {
  padding-top: 50px;
}

.topnav a:nth-child(4) {
  padding-top: 50px;
}

.topnav a:nth-child(5) {
  padding-top: 50px;
}


.topnav a:hover {

  color: darkgoldenrod;
}

.topnav a.active {

  color: white;
  padding: 5px;
}

.topnav .icon {
  display: none;
  position: absolute;
}



.address {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  line-height: 20px;


}

.address a {
  text-decoration: none;
  position: absolute;
  left: -50px
}

.address p:hover {
  color: darkgoldenrod;
}






/* HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME HOME*/


#header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;


}

#header .sub-header {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 150px;
  color: white;
  width: 60vw;
}

#header,
#header:before {
  background: 50% 50% / cover;
}

#header::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(src/new/DSC06136.png);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;



  opacity: 0.9;
}

#header h1 a {
  text-decoration: none;
  font-size: 2rem;
  background-color: rgba(20, 10, 16, 0.6);
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
}


#header .godown {
  margin-top: 90px;
}

#header .godown a {

  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid rgba(20, 10, 16, 0.6);
  border-radius: 5px;
}



/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT*/


#about {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

#about img {
  min-width: 30%;
  opacity: 1;
  height: 30vh;
}




#about .subsection {
  width: 60%;
  height: 100vh;
  position: relative;

}

.theboss {
  position: absolute;
  top: 10%;
  left: 20%;



  background-image: url("src/new/DSC06090.png");
  min-width: 20vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

}

.description {

  position: absolute;
  top: 60%;
  left: 020%;
  width: 70%;
  text-align: justify;


}

.subsection h2 {
  position: absolute;
  top: 2%;
  left: 55%;
  text-transform: uppercase;
  color: darkgoldenrod;


}

.description p {
  color: black;
}









/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES*/


#services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(src/new/DSC06102.png);
  padding-top: 50px;
  padding-bottom: 100px;




}

#services h2 {
  color: white
}

#services .prices-list {
  width: 60%;
}

#services .prices-list .price {
  width: 100%;
  height: 60px;
  border-bottom: 1px white solid;
  display: flex;
  justify-content: space-between;

}

#services .prices-list .price p {

  color: white;
  letter-spacing: 2PX;
  font-size: 2rem;
}

#services a {
  margin-top: 40px;
  text-decoration: none;
  font-size: 2rem;
  background-color: rgba(20, 10, 16, 0.6);
  padding: 10px 25px;
  border-radius: 5px;
  color: white;

}

/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY*/
#gallery {


  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  


}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 50%;

  margin: 0 auto;
  padding: 10px;
}

.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: .85;
  cursor: pointer;
}

.gallery-item:hover {
  opacity: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: relative;
  display: none;
  background-color: rgba(255, 254, 254, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: -220%;
  left: 0;

}

.lightbox-content {
  position: relative;
  width: 70%;
  height: 75%;
  margin: 6% auto;
}

.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 1px 0 rgba(225, 225, 225, .25);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: contain;

}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  font-size: 2rem;
}

.lightbox-prev {
  left: 0;
}

.lightbox-next {
  right: 0;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: .8;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT*/
#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(src/new/DSC02564.png);

}

#contact h2 {
  color: white;
  letter-spacing: 10px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.name-email {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  width: 50%
}

.email {
  display: flex;
  flex-direction: column;
  width: 50%
}





input[type=text],
input[type=email] {
  padding: 12px 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px -1px rgba(173, 171, 173, 1);
}

.email {
  margin-left: 17px;
}

input[type=submit] {
  padding: 12px 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: white;
  border: none;
  margin-top: 12px;

  border-radius: 5px;
  width: 20vw;
  margin: auto;
  background-color: rgba(20, 10, 16, 0.6);
  padding: 10px 25px;

  font-size:2rem



}

textarea {
  height: 150px;
  margin-top: 6px;
  border: none;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px -1px rgba(173, 171, 173, 1);
}

.area {

  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-top: 8px;

}

.alert {
  color: red;
  height: 20px;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 1.2rem;

}



#contact button {

  margin-top: 30px;
  box-shadow: 2px 2px 2px -1px rgba(173, 171, 173, 1);
  opacity: 1;
}





.sendalert {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

footer {
  height: 100px;
  background-color: rgba(53, 23, 6, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.subfooter {
  width: 50vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legal{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;

}

.subfooter .find {
  text-decoration: none;
  font-size: 1.5rem;

  border-radius: 5px;
  color: white;


}

/* .socialnetworks {
  display: flex;
  width: 5vw;
}

.socialnetworks a {
  font-size: 3rem;
  margin-left: 15px;
} */

.subfooter a,
p {
  text-decoration: none;
  color: white;

}

.map-blue{

  display: flex;
  
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 400px;
}


/* SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE SENDINBLUE*/

.sendinblue {
  position: relative;
}

.sib {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 1.5rem;
  background-color: rgba(20, 10, 16, 0.15);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;

  box-shadow: 2px 2px 2px -1px rgb(20, 10, 16);
}

/* MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES MEDIAQUERIES*/
@media screen and (max-width: 1500px) {

  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1450px) {
  h2 {
    font-size: 6rem;
  }

  .description {
    width: 50%;
  }
}

@media screen and (max-width: 1380px) {
  #about .subsection {
    width: 85%;

  }
}

@media screen and (max-width: 1280px) {

  #about .subsection {
    width: 85%;

  }

  .subsection h2 {

    left: 50%;

  }

  form {
    width: 70%;

  }

  .lightbox-content {
    width: 80%;
    height: 40%;
    margin: 15% auto;
  }

  .subfooter {
    width: 80vw;
  }


  .gallery-container {

    width: 80%;

  }

  .name {

    width: 45%
  }

  .email {

    width: 45%
  }

  .sib {

    bottom: 1%;
    left: 50%;
  }


  @media screen and (max-width: 1024px) {
    #about p {
      font-size: 1.3rem;
    }

    h2 {
      font-size: 4rem;
    }


    .subsection h2 {

      top: 4%;
      left: 50%;


    }

    .theboss {
      position: absolute;
      top: -1%;
    }

    .description {

      position: absolute;
      top: 45%;
      left: 020%;
      width: 70%;
      text-align: justify;


    }

    #header .sub-header {
      margin: 0;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 150px;
      color: white;
      width: 80vw;
    }


  }

  @media screen and (max-width: 1000px) {
    #myTopnav a {
      font-size: 1.5rem;
    }





    @media screen and (max-width: 900px) {
      #myTopnav a {
        font-size: 1.2rem;
      }
    }

    @media screen and (max-width: 860px) {

      .navbar img {
        margin-left: 10px;
        width: 100px;
        margin-top: 5px;
      }


      .address a {
        text-decoration: none;
        position: absolute;
        left: -120px
      }

      .topnav a:not(:first-child) {
        display: none;
      }

      .topnav a.icon {

        display: block;
        position: absolute;
        right: 2%;

      }

      .topnav .fa {

        font-size: 3rem;
      }

      .topnav a:nth-child(2) {
        padding-top: 0px;
      }

      .topnav a:nth-child(3) {
        padding-top: 0px;
      }

      .topnav a:nth-child(4) {
        padding-top: 0px;
      }

      .topnav a:nth-child(5) {
        padding-top: 0px;
      }



      .topnav.responsive {
        position: relative;
      }

      .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: -42%;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

      }


      #header::before {
        background-position-x: 50%;
      }


      .socialnetworks {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }


      h1 {
        font-size: 7rem;
      }

      header::before {
        left: -100%
      }

      #header h1 a {

        font-size: 1.5rem;

      }



      #about .subsection {
        width: 95%;

      }



      .description {
        width: 85%;
        top: 30%;
        left: 05%;
      }



 

      .subsection h2 {

        left: 50%;
        top: 10%;




      }

      .theboss {
        position: absolute;
        top: -7%;
        left: 15%;
        min-width: 30vw;
      }

      h2 {
        font-size: 2rem;
      }


      #services .prices-list {
        width: 90%;
      }
      

      
      #services .prices-list .price p {
      
        color: white;
        letter-spacing: 2PX;
        font-size: 1.5rem;
      }


      #gallery {


        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        
      
      
      }
      .gallery-container {
        width: 90%;
      }

      .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
      }

      .lightbox-content {
        width: 95%;
        height: 40%;
        margin: 30% auto;
      }

      .name-email {
       width: 100%;
       flex-direction: column;
      }
  
      .name {
     
        width: 100%
      }
      
      .email {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0;
      }

   


      input[type=submit] {

        width: 30vw;
    
      
      
      }


      .subfooter p,
      a {
        font-size: 1rem;
      }

      .subfooter .find {
       
        font-size: 1rem;
      
       
      
      
      }

      footer{
        padding :10px
      }
     

      .map-blue{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 50px;
        width: 200px;
        margin-left:50px ;
      

    }